<!DOCTYPE html>
<html>
  <head>
    <title>Ganzo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- jquery -->
    <script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous">
    </script>
    <!-- restdb.io -->
    <script src="https://ganzo-0e2f.restdb.io/rest/_jsapi.js"></script>
    <!-- vue cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  </head>
  <body>
    <div id="app-1">

      <div v-show="pag === 0">
        <h1 id="titolo" :style="style">Ganzo</h1>
        <div class="text-center">
          <input v-model="username" placeholder="Inserisci il nome utente" :style="input">
          <br><br><br>
          <input v-model="password" placeholder="Inserisci la tua password" :style="input">
          <br><br><br>
          <b-btn @click="trova" :style="btnL">Login</b-btn>
          <b-btn variant="link" @click="pagina1" :style="btnR">Registrati</b-btn>
        </div>
      </div>

      <div v-show="pag === 1">
        <h1 id="titolo2" :style="style">Ganzo</h1>
        <div class="text-center">
          <input v-model="account.email" placeholder="Inserisci la tua e-mail" :style="input">
          <br><br>
          <input v-model="account.nome" placeholder="Inserisci il nome" :style="input">
          <br><br>
          <input v-model="account.cognome" placeholder="Inserisci il cognome" :style="input">
          <br><br><br><br>
          <input v-model="account.username" placeholder="Inserisci il nome utente" :style="input">
          <br><br>
          <input v-model="account.password" placeholder="Inserisci la tua password" :style="input">
          <br><br><br><br>
          <b-btn @click="creaAccount" :style="btnL">Registrati</b-btn>
          <b-btn variant="link" @click="pagina0" :style="btnR">Annulla</b-btn>
        </div>
      </div>

      <div v-show="pag === 2">
        <h1>Home</h1>
      </div>

    </div>
  </body>
</html>
